<form novalidate name="form"><div class="row">
  <div class="col-md-6">
    <article class="panel panel-primary">
      <header class="panel-heading">
        <h1 class="h3">Customer</h1>
      </header>
      <section class="panel-body">
        <div class="row">
          <div class="form-group col-md-4 has-feedback" ng-class="{
            'has-error': form.first_name.$invalid && form.first_name.$dirty,
            'has-success': form.first_name.$valid && form.first_name.$touched
          }">
            <label class="sr-only" for="first-name">First Name</label>
            <input type="text" class="form-control" required
                   name="first_name" ng-model="customer.first_name"> 
            <p class="help-block" ng-messages="form.first_name.$error">
              <span ng-message="required">First Name is required</span>
            </p>
          </div>
          <div class="form-group col-md-4 has-feedback" ng-class="{
            'has-error': form.last_name.$invalid && form.last_name.$dirty,
            'has-success': form.last_name.$valid && form.last_name.$touched
          }">
            <label class="sr-only" for="last-name">Last Name</label>
            <input type="text" class="form-control" required
                   name="last_name" ng-model="customer.last_name">
            <p class="help-block" ng-messages="form.last_name.$error">
              <span ng-message="required">Last Name is required</span>
            </p>
          </div>
          <div class="form-group col-md-4 has-feedback" ng-class="{
            'has-error': form.username.$invalid && form.username.$dirty,
            'has-success': form.username.$valid && form.username.$touched
          }">
            <label class="sr-only" for="username">Username</label>
            <div class="input-group">
              <div class="input-group-addon">@</div>
              <input type="text" class="form-control" required
                     name="username" ng-model="customer.username">
              <p class="help-block" ng-messages="form.username.$error">
                <span ng-message="required">Username is required</span>
              </p>
            </div>
          </div>
        </div>
        <div class="form-group has-feedback" ng-class="{
          'has-error': form.email.$invalid && form.email.$dirty,
          'has-success': form.email.$valid && form.email.$touched
        }">
          <label class="sr-only" for="email">Email</label>
          <input type="email" class="form-control" required
                 name="email" ng-model="customer.email">
          <p class="help-block" ng-messages="form.email.$error">
            <span ng-message="required">Email is required</span>
            <span ng-message="email">Email must look like an email</span>
          </p>
        </div>
      </section>
      <footer class="panel-footer">
        <label for="joined">Joined</label> {{ customer.joined_at | date }}
      </footer>
    </article>
    <article class="panel panel-default">
      <header class="panel-heading">
        <h2 class="h4">Shipping Address</h2>
      </header>
      <section class="panel-body">
        <div class="form-group has-feedback" ng-class="{
            'has-error': form.shippingStreet.$invalid && form.shippingStreet.$dirty,
            'has-success': form.shippingStreet.$valid && form.shippingStreet.$touched
          }">
          <label class="sr-only" for="street-address">Street Address</label>
          <input type="text" class="form-control" required
                 name="shippingStreet" ng-model="customer.shipping_street">
          <p class="help-block" ng-messages="form.shippingStreet.$error">
            <span ng-message="required">Street is required</span>
          </p>
        </div>
        <div class="row">
          <div class="form-group col-md-6 has-feedback" ng-class="{
            'has-error': form.shippingCity.$invalid && form.shippingCity.$dirty,
            'has-success': form.shippingCity.$valid && form.shippingCity.$touched
          }">
            <label class="sr-only" for="city">City</label>
            <input type="text" class="form-control" required
                   name="shippingCity" ng-model="customer.shipping_city">
            <p class="help-block" ng-messages="form.shippingCity.$error">
              <span ng-message="required">City is required</span>
            </p>
          </div>
          <div class="form-group col-md-2" ng-class="{
            'has-error': form.shippingState.$invalid && form.shippingState.$dirty,
            'has-success': form.shippingState.$valid && form.shippingState.$touched
          }">
            <label class="sr-only" for="state">State</label>
            <input type="text" class="form-control" required pattern="[A-Z][A-Z]"
                   name="shippingState" ng-model="customer.shipping_state">
            <p class="help-block" ng-messages="form.shippingState.$error">
              <span ng-message="required">State is required</span>
              <span ng-message="pattern">State must look like a two-letter state code</span>
            </p>
          </div>
          <div class="form-group col-md-4 has-feedback" ng-class="{
            'has-error': form.shippingZip.$invalid && form.shippingZip.$dirty,
            'has-success': form.shippingZip.$valid && form.shippingZip.$touched
          }">
            <label class="sr-only" for="zip">Zip</label>
            <input type="text" class="form-control" required pattern="\d\d\d\d\d"
                   name="shippingZip" ng-model="customer.shipping_zipcode">
            <p class="help-block" ng-messages="form.shippingZip.$error">
              <span ng-message="required">Zip is required</span>
              <span ng-message="pattern">Zip must be five digits</span>
            </p>
          </div>
        </div>
      </section>
    </article>
  </div>
  <div class="col-md-6">
    <article class="panel panel-default">
      <header class="panel-heading">
        <h2 class="h4">Billing Info</h2>
      </header>
      <section class="panel-body">
        <article ng-controller="CustomerCreditCardController"
                 ng-init="setCardholderId(customerId)">
          <div class="row">
            <div ng-if="!creditCard.$resolved">
              <div class="col-md-10 col-md-offset-1">
                <aside class="progress">
                  <div class="progress-bar progress-bar-striped active"
                       style="width: 100%">
                    Loading...
                  </div>
                </aside>
              </div>
            </div>
            <div ng-if="creditCard.$resolved">
              <div class="col-md-7">
                <p class="h4">
                  ****-****-****-{{creditCard.lastFour}}
                  <span class="label label-success">{{creditCard.cardType}}</span>
                </p>
                <p class="h5">
                  <label>Expires:</label> 
                  {{creditCard.expirationMonth}}/{{creditCard.expirationYear}}
                </p>
              </div>
              <div class="col-md-5 text-right">
                <a href="{{creditCard.detailsLink}}"
                   class="btn btn-lg btn-default">View Details…</a>
              </div>
            </div>
          </div>
        </article>
        <hr>
        <article class="well well-sm">
          <header>
            <h1 class="h5">
              Billing Address
              <small>
                <input type="checkbox" ng-model="customer.billingSameAsShipping"> Same as shipping?
              </small>
            </h1>
          </header>
          <div ng-if="!customer.billingSameAsShipping">
            <div class="form-group has-feedback" ng-class="{
              'has-error': form.billingStreet.$invalid && form.billingStreet.$dirty,
              'has-success': form.billingStreet.$valid && form.billingStreet.$touched
            }">
              <label class="sr-only" for="street-address">Street Address</label>
              <input type="text" class="form-control" required
                     name="billingStreet" ng-model="customer.billing_street">
              <p class="help-block" ng-messages="form.billingStreet.$error">
                <span ng-message="required">Street is required</span>
              </p>
            </div>
            <div class="row">
              <div class="form-group col-md-6 has-feedback" ng-class="{
                'has-error': form.billingCity.$invalid && form.billingCity.$dirty,
                'has-success': form.billingCity.$valid && form.billingCity.$touched
              }">
                <label class="sr-only" for="city">City</label>
                <input type="text" class="form-control" required
                       name="billingCity" ng-model="customer.billing_city">
                <p class="help-block" ng-messages="form.billingCity.$error">
                  <span ng-message="required">City is required</span>
                </p>
              </div>
              <div class="form-group col-md-2" ng-class="{
                'has-error': form.billingState.$invalid && form.billingState.$dirty,
                'has-success': form.billingState.$valid && form.billingState.$touched
              }">
                <label class="sr-only" for="state">State</label>
                <input type="text" class="form-control" required pattern="[A-Z][A-Z]"
                       name="billingState" ng-model="customer.billing_state">
                <p class="help-block" ng-messages="form.billingState.$error">
                  <span ng-message="required">State is required</span>
                  <span ng-message="pattern">State must look like a two-letter state code</span>
                </p>
              </div>
              <div class="form-group col-md-4 has-feedback" ng-class="{
                'has-error': form.billingZip.$invalid && form.billingZip.$dirty,
                'has-success': form.billingZip.$valid && form.billingZip.$touched
              }">
                <label class="sr-only" for="zip">Zip</label>
                <input type="text" class="form-control" required pattern="\d\d\d\d\d"
                       name="billingZip" ng-model="customer.billing_zipcode">
                <p class="help-block" ng-messages="form.billingZip.$error">
                  <span ng-message="required">Zip is required</span>
                  <span ng-message="pattern">Zip must be five digits</span>
                </p>
              </div>
            </div>
          </div>
        </article>
      </section>
    </article>
    <div class="text-right">
      <button ng-click="save()" class="btn btn-lg btn-primary">Save Changes</button>
    </div>
  </div>
</div></form>