<div class="row">
  <div class="col-md-6">
    <article class="panel panel-primary">
      <header class="panel-heading">
        <h1 class="h3">Customer</h1>
      </header>
      <section class="panel-body">
        <form>
          <div class="row">
            <div class="form-group col-md-4">
              <label class="sr-only" for="first-name">First Name</label>
              <input type="text" class="form-control"
                     name="first-name" ng-model="customer.first_name"> 
            </div>
            <div class="form-group col-md-4">
              <label class="sr-only" for="last-name">Last Name</label>
              <input type="text" class="form-control"
                     name="last-name" ng-model="customer.last_name"> 
            </div>
            <div class="form-group col-md-4">
              <label class="sr-only" for="username">Username</label>
              <div class="input-group">
                <div class="input-group-addon">@</div>
                <input type="text" class="form-control"
                       name="username" ng-model="customer.username"> 
              </div>
            </div>
          </div>
          <label class="sr-only" for="email">Email</label>
          <input type="text" class="form-control"
                 name="email" ng-model="customer.email">
        </form>
      </section>
      <footer class="panel-footer">
        <label for="joined">Joined</label> {{ customer.joined_at | date }}
      </footer>
    </article>
    <article class="panel panel-default">
      <header class="panel-heading">
        <h2 class="h4">Shipping Address</h2>
      </header>
      <section class="panel-body">
        <form>
          <div class="form-group">
            <label class="sr-only" for="street-address">Street Address</label>
            <input type="text" class="form-control"
                   name="street-address" ng-model="customer.shipping_street">
          </div>
          <div class="form-group">
            <label class="sr-only" for="street-address-extra">Street Address Extra</label>
            <input type="text" class="form-control"
                   name="street-address-extra" placeholder="Apt, Unit, Suite, etc.">
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <label class="sr-only" for="city">City</label>
              <input type="text" class="form-control"
                     name="city" ng-model="customer.shipping_city">
            </div>
            <div class="col-md-2">
              <label class="sr-only" for="state">State</label>
              <input type="text" class="form-control"
                     name="state" ng-model="customer.shipping_state">
            </div>
            <div class="col-md-4">
              <label class="sr-only" for="zip">Zip</label>
              <input type="text" class="form-control"
                     name="zip" ng-model="customer.shipping_zipcode">
            </div>
          </div>
        </form>
      </section>
    </article>
  </div>
  <div class="col-md-6">
    <article class="panel panel-default">
      <header class="panel-heading">
        <h2 class="h4">Billing Info</h2>
      </header>
      <section class="panel-body">
        <article ng-controller="CustomerCreditCardController">
          <div class="row">
            <div ng-if="!creditCard.$resolved">
              <div class="col-md-10 col-md-offset-1">
                <aside class="progress">
                  <div class="progress-bar progress-bar-striped active"
                       style="width: 100%">
                    Loading...
                  </div>
                </aside>
              </div>
            </div>
            <div ng-if="creditCard.$resolved">
              <div class="col-md-7">
                <p class="h4">
                  ****-****-****-{{creditCard.lastFour}}
                  <span class="label label-success">{{creditCard.cardType}}</span>
                </p>
                <p class="h5">
                  <label>Expires:</label> 
                  {{creditCard.expirationMonth}}/{{creditCard.expirationYear}}
                </p>
              </div>
              <div class="col-md-5 text-right">
                <a href="{{creditCard.detailsLink}}"
                   class="btn btn-lg btn-default">View Details…</a>
              </div>
            </div>
          </div>
        </article>
        <hr>
        <article class="well well-sm">
          <header>
            <h1 class="h5">
              Billing Address
              <small>
                <input type="checkbox"> Same as shipping?
              </small>
            </h1>
          </header>
          <form>
            <div class="form-group">
              <label class="sr-only" for="street-address">Street Address</label>
              <input type="text" class="form-control"
                     name="street-address" ng-model="customer.billing_street">
            </div>
            <div class="form-group">
              <label class="sr-only" for="street-address-extra">Street Address Extra</label>
              <input type="text" class="form-control"
                     name="street-address-extra" placeholder="Apt, Unit, Suite, etc.">
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label class="sr-only" for="city">City</label>
                <input type="text" class="form-control"
                       name="city" ng-model="customer.billing_city">
              </div>
              <div class="col-md-2">
                <label class="sr-only" for="state">State</label>
                <input type="text" class="form-control"
                       name="state" ng-model="customer.billing_state">
              </div>
              <div class="col-md-4">
                <label class="sr-only" for="zip">Zip</label>
                <input type="text" class="form-control"
                       name="zip" ng-model="customer.billing_zipcode">
              </div>
            </div>
          </form>
        </article>
      </section>
    </article>
  </div>
</div>